# py
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/
.eggs/

.venv/
venv/
env/

*.pem
*.key
*.crt

*.db
*.sqlite
*.sqlite3

*.log
complaints.log

.DS_Store
Thumbs.db

.vscode/
.idea/
*.swp
*.swo