# py
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/
.eggs/

# Virtual environment
.venv/
venv/
env/

# Secrets & TLS certs
*.pem
*.key
*.crt

# Runtime databases
*.db
*.sqlite
*.sqlite3

# Logs
*.log
complaints.log

# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/
*.swp
*.swo